.task-details {
    background-color: #fff;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2em auto;
    text-align: left;
}

.task-details h2 {
    text-align: center;
    margin-bottom: 1em;
    color: #333;
}

.task-info {
    margin-bottom: 1em;
}

.task-info p {
    margin-bottom: 0.5em;
    font-size: 1.1em;
}

.task-info p strong {
    color: #333;
}

.edit-button {
    display: block;
    width: 100%;
    padding: 0.75em;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    text-decoration: none;
}

.edit-button:hover {
    background-color: #0056b3;
}



.description-text {
    display: block;
    max-width: 100%;
    overflow-wrap: break-word; /* Ensure text wraps within the container */
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
}