@import url(./table.css);
.edit-task-container {
    background-color: #fff;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2em auto;
    text-align: left;
}

.edit-task-container h2 {
    text-align: center;
    margin-bottom: 1em;
    color: #333;
}

.input-group {
    margin-bottom: 1.5em;
}

.input-group label {
    display: block;
    margin-bottom: 0.5em;
    color: #333;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.update-button {
    display: block;
    width: 100%;
    padding: 0.75em;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    text-decoration: none;
}

.update-button:hover {
    background-color: #0056b3;
}