{% extends 'main.html' %}

{% block content %}
<div class="edit-task-container">
    <h2>Edit Task</h2>
    <form method="post">
        {% csrf_token %}
        <div class="input-group">
            <label for="task">Task</label>
            <input type="text" id="task" name="task" value="{{ data.Task }}" required>
        </div>
        <div class="input-group">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" value="{{ data.Desc }}" required>
        </div>
        <button type="submit" class="update-button">Update</button>
    </form>
</div>
{% endblock %}
