{% extends 'main.html' %}
{% block content %}

<main>
    <section class="task-list-section">
        <h1>History</h1>
        <div class="task-list">
            {% for task in data %}
            <div class="task-item">
                    <span class="task-name"><b>{{ task }}</b></span>
                <div class="task-actions">
                    <a href="{% url 'delete' task.id %}"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock content %}
    